/* Fundo da página */
.stApp {
    background-color: #dff3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

div[data-testid="stForm"] {
    /*background: #ffff !important;*/
    margin: 0 auto;
    background: #1595df !important;
    padding: 3rem !important;
    border-radius: 12px !important;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2) !important;
    width: 100% !important;
    max-width: 620px !important;
    color: black !important;
}

div.stElementContainer.st-key-FormSubmitter-login_form-Entrar button[kind="secondaryFormSubmit"] {
    width: 150px !important;
    padding: 10px !important;
    margin-top: 15px;
    background-color: #107bb8 !important;
    color: white !important;
    border: none !important;
    border-radius: 8px !important;
    font-weight: bold !important;
    font-size: 16px !important;
    cursor: pointer !important;
    transition: all 0.3s ease !important;
}

div.stElementContainer.st-key-FormSubmitter-login_form-Entrar button[kind="secondaryFormSubmit"]:hover {
    background-color: #05314b !important;
    transform: scale(1.03);
} 


/* Título */
.login-title {
    /*color: #a8a6a6 !important;*/
    color: #dff3ff !important;
    text-align: center !important;
    margin-bottom: 1.5rem !important;
    font-size: 26px;
    font-weight: bold;
    font-family: Arial;
}

/* Inputs */
.stTextInput input {
    background-color: #f8f8f8 !important;
    border: 1px solid #f8f8f8 !important;
    border-radius: 6px !important;
    padding: 10px !important;
    color: #333 !important;
}

/* Labels */
label {
    /*color: #333 !important;*/
    color: #054063 !important;
    margin-bottom: -26px !important;
    display: block !important;
}

label i{
    margin-right: 8px;
}

/* Estilo para a logo do login */
.login-logo {
    display: block;
    margin-top: -50px;
    margin-left: auto;
    margin-right: auto;
    width: 10px;       /* define o tamanho da imagem */
    padding-top: 2rem;  /* espaçamento acima */
    padding-bottom: 2rem; /* espaçamento abaixo */
    pointer-events: none; /* desativa interações, como fullscreen */
}

/* Espaço só entre o 1º input e o próximo campo */
.input-gap {
    display: block;
    height: 8px;   /* ajuste aqui: 10–24px conforme seu gosto */
}