.block-container {
    padding-top: 0rem !important;
    margin-top: 0rem !important;
}

.stApp {
    background-color: #dff3ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 2rem !important;
    font-weight: bold !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0456c2 !important; /* azul Google-like */
    margin-bottom: 1.5rem !important;
}

h1 a, h2 a, h3 a, h4 a {
    text-decoration: none !important;
    pointer-events: none !important;
    color: inherit !important;
    visibility: hidden !important;
    display: none !important;
}

h1 a::before,
h2 a::before,
h3 a::before,
h4 a::before {
    content: none !important;
}

.st-emotion-cache-1lsfsc6{ /*lista label*/
    position: relative;
    display: flex;
    width: 100%;
    min-width: 0px;
    overflow: hidden;
    font-size: inherit;
    padding: 0.25rem 0.75rem;
    min-height: calc(-2px + 2.5rem);
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    list-style-type: none;
    background-color: rgb(50, 110, 230);
    border-radius: 0.5rem 0.5rem 0px 0px;
    transition: border-radius 200ms cubic-bezier(0.23, 1, 0.32, 1), background-color 150ms;
}

.st-emotion-cache-1lsfsc6:hover { /*lista label*/
    position: relative;
    display: flex;
    width: 100%;
    min-width: 0px;
    overflow: hidden;
    font-size: inherit;
    padding: 0.25rem 0.75rem;
    min-height: calc(-2px + 2.5rem);
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    list-style-type: none;
    background-color: rgb(32, 70, 146);
    color: #fff;
    border-radius: 0.5rem 0.5rem 0px 0px;
    transition: border-radius 200ms cubic-bezier(0.23, 1, 0.32, 1), background-color 150ms;
}

.st-emotion-cache-pxambx { /*alterar aqui*/
    background: rgb(50, 110, 230) !important;
    color: #fff !important;
}

.st-emotion-cache-1bcyifm { /*alterar 2*/
    border: none;
    border-radius: 0.5rem;
    padding: calc(-1px + 1rem);
    width: 80% !important;
    height: 100%;
    overflow: visible;
    background-color: #a7c9f5 !important;
}

.st-emotion-cache-3qzj0x p { /*alterar 3*/
    color:  #1a73e8 !important;
    font-weight: bold !important;
}

.listaprodutos {
    font-size: 20px !important;
    font-weight: bold !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0456c2 !important;
    margin-bottom: 2px !important;
}

.st-emotion-cache-589yx1 { /*mudar aqui*/
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 1rem;
    font-weight: 400;
    background-color: #d4e6ff !important;
}

div[data-baseweb="select"] div[value] { /*ajuste no margin top do selectbox*/
    line-height: normal !important;
    display: flex !important;
    align-items: center !important;
}

.st-emotion-cache-1py5frv input { /*adicionar cor de caixinha*/
    border: none !important;
    background-color: #d4e6ff !important;
}

.st-key-botao_cadastro_venda button {
    background-color: #1a73e8 !important;
    color: #fff !important;
    font-weight: 500 !important;
    border-radius: 8px !important;
    padding: 10px 18px !important;
    border: none !important;
    transition: all 0.2s ease-in-out !important;
    cursor: pointer !important;
}

.st-key-botao_cadastro_venda button:hover{
    background-color: #1557b0 !important;
    transform: scale(1.02);
}

div[data-testid="stExpander"] {
    background: #dff3ff !important;
}

.st-emotion-cache-3n56ur {
    background-color: #a7c9f5;
    padding: 1rem;
    border-top: 1px solid rgba(49, 51, 63, 0.2);
}

.st-emotion-cache-1h9usn1 {
    margin-bottom: 0px;
    margin-top: 0px;
    width: 80%;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(49, 51, 63, 0.2);
    border-radius: 0.5rem;
}

.stTextInput label {
    color:  #1a73e8 !important;
    margin-bottom: 0.3rem !important;
    display: block;
}

.st-emotion-cache-ne3lcw p {
    font-size: 0.9rem !important;
    font-weight: bold;
}

.st-ew {
    background-color: #83b7fa !important;
}


.st-cx {
    border: none !important;
    border-radius: 6px !important;
    padding-left: 0px !important;
    font-size: 0.9rem !important;
    transition: all 0.2s ease-in-out;
}

.st-cx > div {
    padding-left: 8px !important; /* ajuste como quiser */
    border: none !important;
    border-radius: 6px !important;
}

.st-du {
    background-color: #a7c9f5;
}

.st-du:hover {
    background-color: #92bef7;
}

/* Borda arredondada do selectbox */
div[data-baseweb="select"] {
    border-radius: 6px !important; /* ajuste o valor como quiser */
    overflow: hidden; /* evita que o conteúdo quebre o arredondamento */
}

div[data-baseweb="popover"] li[role="option"]:hover {
    background-color: #8093ac !important; /* cor de fundo ao passar o mouse */
    cursor: pointer;
}

/* Deixa a opção selecionada com cor fixa (opcional) */
div[data-baseweb="popover"] li[role="option"][aria-selected="true"] {
    background-color: #d9eaff !important; /* cor diferente para a opção ativa */
}

.st-emotion-cache-589yx1 { /*mudar aqui*/
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 0px 1rem;
    font-weight: 400;
    background-color: #d4e6ff !important;
}


.st-b7 {
    background-color: #d4e6ff;
}

.st-ba {
    height: 2.5rem;
    background-color: #d4e6ff !important;
    color: #000 !important;
}

.stTextInput input:focus {
    border-color: #1a73e8 !important;
    box-shadow: 0 0 4px rgba(26,115,232,0.3);
}

.st-emotion-cache-3n56ur {
    background-color: #a7c9f5;
    padding: 1rem;
    border-top: 1px solid rgba(49, 51, 63, 0.2);
}


.st-emotion-cache-wfksaw {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 100%;
    height: 100%;
    min-width: 1rem;
    flex-flow: column;
    flex: 1 1 0%;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: start;
}

.st-emotion-cache-1tw2ey4{
    position: relative;
    display: flex;
    width: 100%;
    font-size: inherit;
    padding: 0.25rem 0.75rem;
    min-height: calc(-2px + 2.5rem);
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    list-style-type: none;
    background-color: #74acf7;
    border-radius: 0.5rem 0.5rem 0px 0px;
    transition: background-color 150ms;
}

.st-emotion-cache-1tw2ey4:hover {
    background-color: #4491f7;
}

.form-label {
    color: #1a73e8 !important;      /* mesmo azul dos demais inputs */
    margin-bottom: 0.3rem !important;
    display: block !important;
    font-size: 0.9rem !important;
    font-weight: bold !important;
}

.form-label i {
    margin-right: 6px;
    color: #1a73e8;
}

.st-emotion-cache-1ksltpv {
    margin: 0px;
    border: none;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 2rem;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(49, 51, 63);
    transition: color 300ms, backgroundColor 300ms;
    background-color: #588dd8;
}

.st-emotion-cache-1ksltpv:hover {
    color: rgb(255, 255, 255);
    background-color: #2963b4;
}

.st-emotion-cache-1ksltpv:hover:enabled, .st-emotion-cache-1ksltpv:focus:enabled {
    color: rgb(255, 255, 255);
    background-color: #2963b4;
}

button[data-testid="stBaseButton-secondaryFormSubmit"] {
    background-color: #1a73e8 !important;
    color: white !important;
    font-weight: bold !important;
    border-radius: 8px !important;
    padding: 10px 20px !important;
    border: none !important;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out !important;
    cursor: pointer !important;
    margin-top: 10px;
}

button[data-testid="stBaseButton-secondaryFormSubmit"]:hover {
    background-color: #1557b0 !important;
}

.vendas-card {
    width: 80%;
    background-color: #bad8ff;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.parcela-card {
    width: 80%;
    background-color: #8ebcfd;
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    padding: 15px;
    padding-bottom: 2px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
    font-size: 16px;
    color: #0456c2;
}

.parcela-card p {
    font-weight: bold;
}

p.produto-nome {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
    color: #0456c2;
}

p.produto-nome i{
    margin-right: 10px;
}

.venda-info-container {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #0456c2;
}

.venda-info-container i, .parcela-card i {
    margin-right: 10px;
}

.st-emotion-cache-ne3lcw p {
    font-size: 0.9rem !important;
    font-weight: bold;
    color: #1a73e8; /**/
}

div[class*="st-key-alt_"] button[data-testid="stBaseButton-secondary"] {
    width: 10rem;
    background-color: #e8ff65 !important;
    color: #020202 !important;
    font-weight: bold !important;
    border-radius: 8px !important;
    padding: 10px 10px !important;
    border: none !important;
    cursor: pointer !important;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}

div[class*="st-key-alt_"] button[data-testid="stBaseButton-secondary"]:hover {
    background-color: #d6e05d !important;
    transform: scale(1.02);
}

div[class*="st-key-deletar_"] button[data-testid="stBaseButton-secondary"] {
    background-color: #ff3636 !important;
    color: #020202 !important;
    font-weight: bold !important;
    border-radius: 8px !important;
    padding: 10px 10px !important;
    border: none !important;
    cursor: pointer !important;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    margin-left: 50px;
}

div[class*="st-key-deletar_"] button[data-testid="stBaseButton-secondary"]:hover {
    background-color: #ad2222  !important;
    transform: scale(1.02);
}

.st-emotion-cache-1permvm {
    display: flex;
    gap: 0px;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-width: 1rem;
    flex-flow: wrap;
    flex: 1 1 0%;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: start;
    overflow: visible;
}


.st-fk {
    color: rgb(255, 255, 255);
    /*font-weight: bold;*/
    background-color: rgb(226, 59, 59);
}


.st-e8 {
    color: #fff;
}